<mat-card class="example-card col-md-12 margin-bottom-1vh">
    <div class="row">
        <div class="col-md-2 text-align-center">
                <img mat-card-image src="{{product.img}}" alt="Photo of a product">
                <div *ngIf="product.off" class="col-md-12">
                    <div>{{product.off}}% OFF</div>
                </div>
        </div>
        <div class="offset-md-1 col-md-9">
            <div class="color-green font-size-1-5rem col-md-12">{{product.brand}}</div>
            <div class="col-md-12">{{product.name}}</div>
            <div class="col-md-12">MRP {{product.mrp}}</div>
            <div class="col-md-12 color-black font-weight-700">RS {{product.rs}}</div>
            <div class="col-md-12 font-weight-700">
                <button *ngIf="quantity === 0" (click)="quantity = product.quantity || 1; addToCart(product);" mat-raised-button class="background-color-green font-weight-700">ADD TO CART</button>

                <button  *ngIf="quantity !== 0" mat-raised-button class="background-color-green font-weight-700 width-8rem">ADDED</button>
                
                <button (click)=addQuantity(); mat-mini-fab aria-label="Example icon-button with a heart icon" class="background-color-green color-black margin-left-2rem">
                    <mat-icon>add</mat-icon>
                </button>
                <span class="margin-left-2rem font-size-1-5rem">{{product.quantity || 0}}</span>
                <button [disabled]='quantity <= 0' (click)=removeQuantity(); mat-mini-fab aria-label="Example icon-button with a heart icon" class="background-color-green color-black margin-left-2rem">
                        <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>
</div>
</mat-card>